<section id="recipes">
  <% if @recipes %>
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <%= link_to recipe.name, recipe_path(recipe)%>
      </div>
    <% end %>
  <% else %>
    <h2>Nenhuma receita encontrada =/</h2>
  <% end %>
</section>

<%= button_to "Voltar", root_path, method: :get %>
